@import "tailwindcss";

@theme {
  --color-primary: #0F5132;
  --color-primary-light: #198754;
  --color-primary-dark: #0B3D26;
  --color-secondary: #F8F9FA;
  --color-accent: #D1E7DD;
  --font-sans: 'Inter', sans-serif;
  
  --animate-shake: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}